<!DOCTYPE html>

<html>

<head>
    <style>
        table, th, td {
            border:1px solid black;
        }

        .didAttend {
            background-color: lightgreen;   
        }

        .didNotAttend{
            background-color: tomato;
        }
    </style>
</head>

<body>
    <table class="board">
        <tr class="header">
            <th>학번</th>
            <th>이름</th>
            <th>출결</th>
        </tr>
    </table>

    <script src="./board.js"></script> 
</body>

</html>